body {
    color: rgb(92, 55, 52);
    background-color: #d4f7f0;
    text-align: center;
    line-height: 1.4;
    font-size: 1.3rem;
    margin: 0;
}

.second-body {
    background-color: rgba(88, 62, 32, 0.089);
}

/*BOOTSRAP*/
.nav-color {
    background-color: #2efdd4e1;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.3rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 40px;
}

.nav-link {
    color: white;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
}

.nav-h3 {
    padding-left: 20px;
    color: black;
}

.togbutton {
    padding: 0;
}

.navbar-title {
    font-family: 'Montserrat', sans-serif;
    line-height: normal;
    text-align: initial;
    padding-bottom: 50px;
}


.title {
    margin-top: 0;
    background-color: #d4f7f0;
    position: relative;
}

h1 {
    margin: auto;
    font-size: 3.4rem;
    color: #66BFBF;
    width: 20%;
    margin-bottom: 50px;
    font-family: 'Merriweather', serif;


}

h2 {
    padding: 35px;
    font-size: 2.3rem;
    color: #4E9F3D;
    font-weight: normal;
    font-family: 'Sacramento', cursive;
    ;
}

h3 {
    color: #4E9F3D;
}

p {
    padding-bottom: 30px;
    width: 50%;
    margin: auto;
    color: rgba(92, 55, 52, 0.925);
}

.para1 {
    width: 25%;
}

.agent {
    border: solid;
    border-width: 4px;
    padding: 20px 40px;
}

.dor {
    border: solid;
    border-width: 4px;
    padding: 20px 340px 20px 30px;
}

.bottom-container {
    margin-top: 30px;
    background-color: rgba(58, 157, 190, 0.705);
    padding: 30px 30px 0;
}

.container {
    position: relative;
    width: 600px;
    height: 600px;
    background-color: grey;
}

a {
    color: #223b3b;
    font-family: 'Merriweather', serif;
    margin: 10px 10px;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

span {
    padding: 40px;
}

.cloud2 {
    position: absolute;
    left: 300px;
    top: 300px;
}

.cloud1 {
    position: absolute;
    right: 300px;
    top: 50px;
}

.skill {
    padding: 5px;
    height: 200px;
    width: 200px;
    border: solid;
    border-width: 1px;
    margin: 20px;
}

hr {
    border-style: dashed none none;
    border-color: rgb(128, 68, 68);
    border-width: 2.1px;
    padding: 10px 0px
}

img:hover {
    border-radius: 35%;
    border-color: rgb(92, 55, 52);
    border-width: 2px;
}


.footer-link {
    font-size: 1.6rem;
}

.facebook {
    padding-top: 60px;
    border: none;
    padding-right: 250px;
}

.face {
    height: 200px;
}


.he {
    margin-bottom: 0;
    padding: 3px;
}

.copyright {
    margin-top: 30px;
    color: rgb(228, 244, 252);
    font-size: 1.1rem;
}

.num {
    color: black;
    text-align: left;
}

form {
    text-align: left;
    margin: 0 0 0 20px;
    font-size: 1.2rem;
}

.book {
    font-size: 1.6rem;
}

.food {
    background-color: #d4f7f0;
    height: 120px;
    border: solid;
    border-width: 1px;
}

.number {
    border: none;
    font-size: 3rem;
    text-decoration: underline;
}

.food:hover {
    background-color: gold;
}

tbody {
    font-size: 1.3rem;
}

ol {
    font-size: 1.4rem;
}

th {
    font-size: 1.6rem;
}

input {
    font-size: 0.75em;
}

.submit {
    font-size: 1.5rem;
}
.nav-color-2 {
    background-color: #b9faedbb;
}



/*        ----QR CODE PAGE CSS STARTING ----     */

.third-page-body {
    background: linear-gradient(to right, orange, rgb(240, 61, 61));
    height: 650px;
    text-align: center;
    margin: auto;
    line-height: 1.3;
    font-family: sans-serif;
}
.container-fluid {
    padding: 1% 15%;
}

.nav-color-qr {
    background-color: transparent;
}

.top-container {
    padding-top: 40px;
    margin: auto;
    width: 335px;
}

.third-bottom-container {
    line-height: 2;
    padding: 20px;
    background-color: rgb(123, 191, 214);
}

.third-page-p {
    font-size: 15px;
    font-weight: 400;
    width: 260px;
    color: rgba(0, 0, 0, 0.534);
    padding: 10px 10px 40px;
    margin: auto
}

.third-page-img {
    padding: 15px;
    height: 300px;
    margin: auto;
    border-radius: 8%;
    display: block;
}

.third-page-h3 {
    width: 280px;
    margin: auto;
    font-weight: 800;
    padding: 10px;
    color: rgba(0, 0, 0, 0.753);
}

.white-card {
    border-radius: 6%;
    margin: auto;
    background-color: white;
    margin-bottom: 190px;
}

.attribution {
    font-size: 12px;
    text-align: center;
}

.attribution a {
    color: hsl(0, 0%, 0%);
}


/*        ----QR CODE PAGE CSS ENDING ----     */

.btn {
    margin: 10px;
    font-size: 40px;
}

/* TESTIMONIAL */

#testimonials {
    background-color: rgba(134, 168, 13, 0.363);
    text-align: center;
    color: #fff;
}

.carousel-item {
    padding: 7% 18%;

}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 3.5rem;
    height: 3.5rem;
    padding: 30px;

}

.carousel-control-next,
.carousel-control-prev {
    width: 400px;
}

#test1 {

    background-color: rgba(92, 55, 52, 0.295);
    text-align: center;
    color: #fff;
}